@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
.blog-page {
  .page-banner {
    .page-banner-content {
      // padding: 150px 0;

      @include breakpoint-above(md) {
        padding: 0px 300px;
      }

      @include breakpoint-above(xxxl) {
        padding: 0px 250px;
      }

      
  
    }
  }

  .recent-posts {
    &-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      > * {
        flex: 0 0 calc(33.333% - 14px);
      }
    }
  }

  // Responsive adjustments
  @media (max-width: 992px) {
    .recent-posts {
      &-grid {
        > * {
          flex: 0 0 calc(50% - 10px);
        }
      }
    }
  }

  @media (max-width: 480px) {
    .recent-posts {
      &-grid {
        gap: 16px;

        > * {
          flex: 0 0 100%;
        }
      }
    }
  }
}
