@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.contact-page {
  .contact-section {
    .contact-info {

      h6 {
        margin:0;
        color: var(--Text-Primary, #2E4042);
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 150% */
letter-spacing: -1.68px;
text-transform: capitalize;

      }

 
    

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 2rem;
  
  p {
    color: var(--Text-Primary, #2E4042);
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 100% */
    letter-spacing: -0.72px;
    text-transform: capitalize;
    margin: 0; // Remove default margin
  }

  .contact-item {
    display: flex;
    flex-direction: row; // Change to row
    margin-bottom: 1.5rem;

    &:last-child {
      margin-bottom: 0;
    }

    .icon-wrapper {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      background: #D97706;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      margin-right: 1rem; // Add spacing to the right of icon
    }

    .contact-content {
      display: flex;
      flex-direction: column;
      
      h6 {
        margin: 0 0 0.5rem 0; // Add bottom margin for spacing
      }

      p {
        margin: 0; // Remove default margin
      }
    }
  }
}
    }
  }
}