
@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;
.package_page {
  .page-banner {
    
    .page-banner-content {
      padding: 100px 0;
      // padding: 150px 200px;
      @include breakpoint-above(md) {
          padding: 150px 150px;
      }
    
      @include breakpoint-above(xxxl) {
        padding: 150px 150px
      }
      
    }
  }
  .package_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    .package-card {
      flex: 0 0 calc(33.333% - 20px);
      box-sizing: border-box;
      width: auto; // override Bootstrap's width:100%
    }
  }
}

@media (max-width: 992px) {
  .package_page {
    .package_wrapper {
      .package-card {
        flex: 0 0 calc(50% - 20px);
      }
    }
  }
}

@media (max-width: 576px) {
  .package_page {
    .package_wrapper {
      .package-card {
        flex: 0 0 100%;
      }
    }
  }
}
