//
// Solid Background Colors //
//
@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

.bg-theme-dark{ background: $color-dark;}
.bg-dark { background: $dark; }
.bg-dark-90 { background: $dark-90; }
.bg-dark-80 { background: $dark-80; }
.bg-dark-70 { background: $dark-70; }
.bg-dark-60 { background: $dark-60; }
.bg-dark-50 { background: $dark-50; }
.bg-dark-40 { background: $dark-40; }
.bg-dark-30 { background: $dark-30; }
.bg-dark-20 { background: $dark-20; }
.bg-dark-10 { background: $dark-10; }
.bg-black { background: black; }
.bg-black-90 { background: $black-90; }
.bg-black-80 { background: $black-80; }
.bg-black-70 { background: $black-70; }
.bg-black-60 { background: $black-60; }
.bg-black-50 { background: $black-50; }
.bg-black-40 { background: $black-40; }
.bg-black-30 { background: $black-30; }
.bg-black-20 { background: $black-20; }
.bg-black-10 { background: $black-10; }
.bg-white { background: white; }
.bg-white-90 { background: $white-90; }
.bg-white-80 { background: $white-80; }
.bg-white-70 { background: $white-70; }
.bg-white-60 { background: $white-60; }
.bg-white-50 { background: $white-50; }
.bg-white-40 { background: $white-40; }
.bg-white-30 { background: $white-30; }
.bg-white-20 { background: $white-20; }
.bg-white-10 { background: $white-10; }
.bg-gray { background: $gray; }
.bg-red { background: $red; }
.bg-iceblue { background: $iceblue; }

//
// Gradient Backgrounds //
//
.bg-gradient-1, 
.bg-gradient-2, 
.bg-gradient-3, 
.bg-gradient-4, 
.bg-gradient-5 {
	overflow: hidden;
	position: relative;
	z-index: 1;
	&:before {
		z-index: -1;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.bg-gradient-1 {
	&:before { background-image: $gradient-1; }
}
.bg-gradient-2 {
	&:before { background-image: $gradient-2; }
}
.bg-gradient-3 {
	&:before { background-image: $gradient-3; }
}
.bg-gradient-4 {
	&:before { background-image: $gradient-4; }
}
.bg-gradient-5 {
	&:before { background-image: $gradient-5; }
}

.bg-opacity-90 {
	&:before { opacity: 0.9; }
}
.bg-opacity-80 {
	&:before { opacity: 0.8; }
}
.bg-opacity-70 {
	&:before { opacity: 0.7; }
}
.bg-opacity-60 {
	&:before { opacity: 0.6; }
}
.bg-opacity-50 {
	&:before { opacity: 0.5; }
}
.bg-opacity-40 {
	&:before { opacity: 0.4; }
}
.bg-opacity-30 {
	&:before { opacity: 0.3; }
}
.bg-opacity-20 {
	&:before { opacity: 0.2; }
}
.bg-opacity-10 {
	&:before { opacity: 0.1; }
}





//
// Letter Spacing //
//
.letter-spacing-05 { letter-spacing: 0.5px; }
.letter-spacing-1 { letter-spacing: 1px; }
.letter-spacing-2 { letter-spacing: 2px; }
.letter-spacing-3 { letter-spacing: 3px; }
.letter-spacing-4 { letter-spacing: 4px; }


//
// Line Heights //
//
.line-height-100 { line-height: 1; }
.line-height-110 { line-height: 1.1; }
.line-height-120 { line-height: 1.2; }
.line-height-130 { line-height: 1.3; }
.line-height-140 { line-height: 1.4; }


//
// Text Colors //
//
[class*='bg-'],
* {
	.text-white-90 { color: $white-90; }
	.text-white-80 { color: $white-80; }
	.text-white-70 { color: $white-70; }
	.text-white-60 { color: $white-60; }
	.text-white-50 { color: $white-50; }
	.text-white-40 { color: $white-40; }
	.text-white-30 { color: $white-30; }
	.text-white-20 { color: $white-20; }
	.text-white-10 { color: $white-10; }
	.text-black { color: black; }
	.text-black-90 { color: $black-90; }
	.text-black-80 { color: $black-80; }
	.text-black-70 { color: $black-70; }
	.text-black-60 { color: $black-60; }
	.text-black-50 { color: $black-50; }
	.text-black-40 { color: $black-40; }
	.text-black-30 { color: $black-30; }
	.text-black-20 { color: $black-20; }
	.text-black-10 { color: $black-10; }
	.text-primary { color: $primary; }
	.text-green { color: $green; }
	.text-red { color: $red; }
	.text-yellow { color: $yellow; }
	.text-dark { color: $dark; }
	.text-dark-90 { color: $dark-90; }
	.text-dark-80 { color: $dark-80; }
	.text-dark-70 { color: $dark-70; }
	.text-dark-60 { color: $dark-60; }
	.text-dark-50 { color: $dark-50; }
	.text-dark-40 { color: $dark-40; }
	.text-dark-30 { color: $dark-30; }
	.text-dark-20 { color: $dark-20; }
	.text-dark-10 { color: $dark-10; }
}

.text-white {
	* { color: white; }
}
.text-white-90 { 
	* { color: $white-90; } 
}
.text-white-80 { 
	* { color: $white-80; } 
}
.text-white-70 { 
	* { color: $white-70; } 
}
.text-white-60 { 
	* { color: $white-60; } 
}
.text-white-50 { 
	* { color: $white-50; } 
}
.text-white-40 { 
	* { color: $white-40; } 
}
.text-white-30 { 
	* { color: $white-30; } 
}
.text-white-20 { 
	* { color: $white-20; } 
}
.text-white-10 { 
	* { color: $white-10; } 
}


//
// Text Gradient Colors //
//
[class*='text-gradient'] {
	display: inline-block;
}
.text-gradient-1 {
	background-image: $gradient-1;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.text-gradient-2 {
	background-image: $gradient-2;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.text-gradient-3 {
	background-image: $gradient-3;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.text-gradient-4 {
	background-image: $gradient-4;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
.text-gradient-5 {
	background-image: $gradient-5;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

//
// Stroke Text //
//
.stroke-text, 
.stroke-text-dark {
	color: black;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1.4px;
	-webkit-text-stroke-color: black;
	@include breakpoint-less(lg) {
		-webkit-text-stroke-width: 1.2px;
	}
}
.stroke-text-white {
	color: white;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-color: white;
}
[class*='bg-black'], 
[class*='bg-dark'], 
[class*='bg-gradient'] {
	.stroke-text {
		color: white;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-color: white;
	}
}


//
// Borders //
//
.border-dashed {
	border: 1px dashed $dark-20;
}
.border-top-dashed {
	border-top: 1px dashed $dark-20;
}
.border-right-dashed {
	border-right: 1px dashed $dark-20;
}
.border-bottom-dashed {
	border-bottom: 1px dashed $dark-20;
}
.border-left-dashed {
	border-left: 1px dashed $dark-20;
}
[class*='bg-black'], 
[class*='bg-dark'], 
[class*='bg-gradient'] {
	.border-top-dashed {
		border-color: $white-30;
	}
	.border-bottom-dashed {
		border-color: $white-30;
	}
}


//
// Backdrop Filter Blur //
//
.backdrop-filter-blur {
	backdrop-filter: blur(5px);
}


//
// Negative Margins //
//
.n-margin-1 {
	margin-top: -1rem;
}
.n-margin-2 {
	margin-top: -2rem;
}
.n-margin-3 {
	margin-top: -3rem;
}
.n-margin-4 {
	margin-top: -4rem;
}
.n-margin-5 {
	margin-top: -5rem;
}
.n-margin-6 {
	margin-top: -6rem;
}


//
// z-index //
//
.z-index-1 {
	z-index: 1;
}
.z-index-2 {
	z-index: 2;
}


//
// Positions //
//
@include breakpoint-above(lg) {
	.fixed-lg-top {
		position: fixed;
		top: 0;
	}
	.fixed-lg-bottom {
		position: fixed;
		bottom: 0;
	}
}


//
// Opacity //
//
.opacity-90 { opacity: 0.9; }
.opacity-80 { opacity: 0.8; }
.opacity-70 { opacity: 0.7; }
.opacity-60 { opacity: 0.6; }
.opacity-50 { opacity: 0.5; }
.opacity-40 { opacity: 0.4; }
.opacity-30 { opacity: 0.3; }
.opacity-20 { opacity: 0.2; }
.opacity-10 { opacity: 0.1; }


//
// Dividers //
//
.divider-side-line {
	@include display-flex;
	align-items: center;
	&:after {
		content: '';
		flex: 1 1 auto;
		background: $dark-20;
		height: 1px;
	}
}
a{
	text-decoration: none !important;
}
.cust-container{
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 7.5px;

	@include breakpoint-less(xxl){
		max-width: 1140px;
	}
	@include breakpoint-less(xl){
		max-width: 960px;
	}
	@include breakpoint-less(lg){
		max-width: 720px;
	}
	@include breakpoint-less(md){
		max-width: 540px;
		padding: 0 20px;
	}
  }