@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

.banner {
    height: 120dvh;

    @include breakpoint-less(sm) {
        height: auto;
    }

    // @include breakpoint-less(sm) {
    //     height: 120dvh;
    // }
   

    // @include breakpoint-less(md) {
    //     height: auto;
    // }
 
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    
    .banner__image {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        z-index: 0;

        // Optional overlay for text readability
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.3) 0%,
                rgba(0, 0, 0, 0.1) 50%,
                rgba(0, 0, 0, 0.4) 100%
            );
            z-index: 1;
            pointer-events: none;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
            display: block;
        }
    }

    // Container positioning
    > .banner__content {

        @include breakpoint-less(sm) {

            margin-top: 100px;
        }
        position: relative;
        z-index: 2;
        height: 100%;
        width: 100%;
        max-width: 100%;
        @include display-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    // Content centering and layout
    .banner__content {
        width: 100%;
        max-width: 100%;
        @include display-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        box-sizing: border-box;

        h1 {
            color: #fff;
            @include breakpoint-less(md) {
                line-height: 6rem
            }
        }

        p {
            color: #fff;
        }

        // Responsive padding
        @include breakpoint-above(md) {
            padding: 40px;
        }

        @include breakpoint-above(lg) {
            padding: 60px;
        }

        @include breakpoint-less(sm) {
            padding: 50px 15px;
        }

        // Text elements styling
        h1 {

            @include breakpoint-less(xxxl){
              padding: 0 200px;
            }
            @include breakpoint-less(sm){
              padding: 0;
            }

        }

        p {
            max-width: 700px;
            margin: 0 auto 2rem;
            line-height: 1.6;
            @include text-shadow(0 1px 5px rgba(0, 0, 0, 0.5));
            @include animation(fadeInUp 0.8s ease-out 0.2s both);
            
            @include breakpoint-less(md) {
                max-width: 100%;
                margin-bottom: 1.5rem;
            }
        }

        // Action buttons container
        .banner__actions {
            @include display-flex;
            gap: 15px;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
            @include animation(fadeInUp 0.8s ease-out 0.4s both);

            @include breakpoint-less(sm) {
                gap: 10px;
                flex-direction: column;
                width: 100%;
                max-width: 300px;
            }
        }
    }

    // Variant: Left-aligned content
    &.banner--left {
        > .container {
            justify-content: flex-start;
        }

        .banner__content {
            text-align: left;
            align-items: flex-start;

            p {
                margin-left: 0;
                margin-right: auto;
            }

            .banner__actions {
                justify-content: flex-start;
            }

            @include breakpoint-less(md) {
                text-align: center;
                align-items: center;

                p {
                    margin-left: auto;
                }

                .banner__actions {
                    justify-content: center;
                }
            }
        }
    }

    // Variant: Right-aligned content
    &.banner--right {
        > .container {
            justify-content: flex-end;
        }

        .banner__content {
            text-align: right;
            align-items: flex-end;

            p {
                margin-left: auto;
                margin-right: 0;
            }

            .banner__actions {
                justify-content: flex-end;
            }

            @include breakpoint-less(md) {
                text-align: center;
                align-items: center;

                p {
                    margin-right: auto;
                }

                .banner__actions {
                    justify-content: center;
                }
            }
        }
    }

    // Variant: Bottom-aligned content
    &.banner--bottom {
        > .container {
            align-items: flex-end;
        }

        .banner__content {
            padding-bottom: 60px;

            @include breakpoint-less(md) {
                padding-bottom: 40px;
            }
        }
    }

    // Variant: Top-aligned content
    &.banner--top {
        > .container {
            align-items: flex-start;
        }

        .banner__content {
            padding-top: 120px; // Space for navbar

            @include breakpoint-less(md) {
                padding-top: 80px;
            }
        }
    }
}

// Animations
@keyframes fadeInUp {
    from {
        opacity: 0;
        @include transform(translateY(30px));
    }
    to {
        opacity: 1;
        @include transform(translateY(0));
    }
}

