
@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

.bottom-cta {
  position: relative;
  height: 500px;
  width: 100%;

  .cta-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    img {
      width: 100%;  
      height: 100%;
      object-fit: cover;
    }
  } 
  
  .bottom-cta-content {

    h2 ,p{
        color : white
    }
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

   
    // Removed: height: 100%; and overflow: hidden
    // These were preventing proper centering
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }
}