@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.card {
  width: 100%;
  border: none;
  padding: 20px;
  border-radius: 24px;
  position: relative;
  overflow: hidden;

  .card-img-wrapper {
    position: relative;
    width: 100%;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 24px;
      display: block;
    }

    .badge {
      position: absolute;
      top: 15px;
      left: 15px;
      color: #fff;
      font-family: $font-family-montserrat;
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: 16.5px; /* 150% */
      padding: 10px 12px;
      border-radius: 24px;
      background: #000;
      text-transform: uppercase;
      letter-spacing: 0.5px;
    }
  }

  p {
    margin: 0;
  }

  .card-action {
    margin-top: 10px;
    cursor: pointer;
    gap: 20px;
    display: flex;
    align-items: center;

    p {
      color: #d97706;
      transition: transform 0.3s ease;
    }

    .action-btn {
      border: 1px solid #d97706;
      border-radius: 50%;
      padding: 8px;
      cursor: pointer;
      background-color: transparent;
      transition: background-color 0.3s ease, transform 0.3s ease;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        display: block;
        transition: transform 0.3s ease;

        path {
          transition: stroke 0.3s ease;
        }
      }
    }
  }
}