
@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;
.page-banner {
  min-height: 600px;
  
 display: flex;
    justify-content: center;  // centers vertically
    align-items: center;      // centers horizontally
    height: 100%;             // ensures the flex container fills the banner
    text-align: center;       // optional, centers text content inside
  .page-banner-content {
   

    h1 {
        padding: 0 300px;
        @include breakpoint-less(md){
            padding: 0;
        }
    }
    p {
        padding: 0 300px;
        @include breakpoint-less(md){
            padding: 0;
        }
    }   
  }
}
