//
// Base styles //
//
// @use "theme" as *;
@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    font-size: 10px;
    // scroll-behavior: auto !important;
}

body {
    font-size: var(--font-size-b1);
    line-height: var(--line-height-b1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family-primary;
    color: $color-body;
    background-color: #FAFAFA;
    font-weight: $font-weight-regular;
    position: relative;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        opacity: 0.05;
    }
}


html,
body {
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    min-height: 100%;
}

.container,
.container-fluid {
    position: relative;

    @include breakpoint-less(sm) {
        padding: 0 20px;
    }
}

.vh-100 {
    height: 100vh;

}

.emptydiv {
    .vh-100 {
        height: 100vh;

    }

    &:first-child {
        background-color: #000;
    }
}

.no-scroll {
    overflow: hidden;
    height: 100vh !important;
}

.section-gap-top-bottom {
    padding: 100px 0;

    @include breakpoint-less(lg) {
        padding: 90px 0;
    }

    @include breakpoint-less(md) {
        padding: 80px 0;
    }

    @include breakpoint-less(sm) {
        padding: 50px 0;
    }
}

.section-body-gap {
    padding-top: 50px;

    @include breakpoint-less(lg) {
        padding-top: 50px;
    }

    @include breakpoint-less(md) {
        padding-top: 35px;
    }

    @include breakpoint-less(sm) {
        padding-top: 20px;
    }
}

.banner-top {
    padding-top: 170px;

    @include breakpoint-less(md) {
        padding-top: 130px;
    }
}

.bg-theme-dark {

    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    .title,
    .pre-title,
    a {
        color: $color-white;
    }
}

.image_before {
    position: relative;
    width: 100%;

}

.image_before>* {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.image_before::before {
    display: block;
    padding-top: var(--aspect-ratio);
    content: "";

}

.success-message{
        border-radius: 30px;
    background: #f9f9f9;
    padding: 40px;
    h3{
        font-family: $font-family-inter;
    }
    p.message-box {
            margin-bottom: 10px;
    }
}

.btn {
  position: relative;
//   padding: 20px 35px;
    padding: 9px 19px 9px 20px;
  border-radius: 100px;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;

  // Primary visible text (top)
  .btn-primary-text {
    position: relative;
    top: 0;
    transition: top 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    
  }

  // Secondary sliding text container
  .btn-secondary-text {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.4s cubic-bezier(0.33, 1, 0.68, 1);

    span {
      position: absolute;
      margin: 0 !important;
          font-size: 14px;
    font-weight: 600;
    line-height: 1.3;
    margin:0 !important;
    }

    // The yellow rounded background behind secondary text
    .btn-background {
    //   background-color: #000;
      width: 60%;
      height: 100%;
      border-radius: 50%;
      transition: all 0.4s cubic-bezier(0.33, 1, 0.68, 1);
    //   z-index: -1;
      position: relative;
    }
  }

  // Hover state: slide secondary text up, primary text up and out
  &:hover {
    .btn-secondary-text {
      top: 0;
    }
    .btn-primary-text {
      top: -47px;
    }
    .btn-background{
            width: 100%;
    border-radius: 100px;
    }
     span {
      z-index: 3;
    }
  }
}
.stagger-animation-container{
   opacity: 0;
//    visibility: hidden;
}
