@import 'bootstrap/dist/css/bootstrap.min.css';

[data-scroll-section] {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
.section{
  height: 100dvh;
}
.section1{
  background: rgba(255, 0, 0, 0.212);
}
.section2{
  background: rgba(47, 255, 0, 0.23);
}